body {
    background-color: #001c47;
    font-family: "REM", Arial, Helvetica, sans-serif;
    margin: 0;
}

.heading {
    text-align: center;
    height: 800px;
    background-color: #fff;
}

.title {
    color: #000;
    font-size: 1000%;
}

.subtitle {
    color: #000;
}

.main {
    height: fit-content;
    line-height: 1.5;
    color: #fff;
    font-size: larger;
    margin: 10;
}

.paragraph1 {
    column-count: 2;
    column-gap: 40px;
    column-rule-style: dotted;
}

.paragraph2 {
    text-align: left;
    column-count: 2;
    column-gap: 40px;
    column-rule-style: dotted;
}

.header2 {
    text-align: left;
}

.tempheading {
    margin: 10;
}

.footer {
    margin: 10px;
    color: #fff;
    display: block;
}

.privacypolicy {
    width: 30%;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    iframe {
      width: 500
    }
}

.submain2 {
    background-color: #737373;
    color: #000;
    text-align: center;
}

.content {
    margin: 20px;
    font-size: xx-large;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d17700;
}
  
li {
    float: left;
    overflow: hidden;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 220px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #9f5b02;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding: 15px;
    color:  #fff;
}
  
/* Clear floats after the columns */
.submain{
    display: table;
    margin: 0;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    float: right;
    color: #fff;
    background-color: #404040;
}

.fa:hover {
    opacity: 0.7;
}

.button {
    background-color: #363636;
    border-radius: 50px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.image1 {
    width: 700px;
    height: 500px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
}

.people {
    text-align: left;
}

.column2 {
    float: left;
    width: 22.5%;
    padding: 15px;
    color:  #fff;
}

@media screen and (max-width: 500px) {
    .column2 {
      width: 100%;
    }
}

.objective {
    background-color: #fff;
    color: #000;
    font-size: 150%;
    text-align: center;
}

.objective p {
    margin: 10px;
}